<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      {{!-- sidebar --}}
      <nav class="nav" id="sidebar">
        <div class="col-12" >
          {{#each cards}}
          <a class="nav-link" href="#link{{name}}">{{name}}</a>
          {{/each}}
        </div>
      </nav>
    </div>
    <div class="col-sm-12 col-md-9">
      {{!-- all the card --}}
      <div class="row">
        {{#each cards}}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <a id="link{{name}}" >{{name}}:</a>
          <div class="card">
            <img src="{{image}}" class="card-img-top" alt="picture of {{name}}">
            <div class="card-body">
              <h2 class="card-title">{{name}}</h2>
              <p class="card-text">{{description}}</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal{{id}}">
                More Info
              </button>
            </div>
          </div>
            {{!-- modal --}}
          <div class="modal fade" id="Modal{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="{{id}}Title">{{name}}</h3>
                </div>
                <div class="modal-body">
                  {{detail}} 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>